@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #18181b;
  --font-sans: var(--font-noto-sans-jp);
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
