@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-noto-sans-jp);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
